@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #F4F6FB;
    color: #0A0A0A;
  }
}

@layer utilities {
  .card-superstar {
    clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 16px, 100% 100%, 0 100%);
  }
}
